.blockMenu {
    width: 70%;
    max-width: 1000px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}

@media screen and (max-width: 650px) {
    .blockMenu {
        width: 100%;
    }    
}