.allOrders {
    padding-bottom: 10px;
    width: 100%;
    max-width: 1200px;
    

    .title {
        text-align: center;
        background-color: rgb(198, 229, 243);
        width: 100%;
        padding: 10px;
    }

    .emptyBlock {
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }
}