.item {
    width: 80%;
    max-width: 1000px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    gap: 20px;
    align-items: center;
    transition-duration: 0.7s;
    transition-property: transform;

    &:hover {
        border-radius: 10px;
        box-shadow: 0px 0px 10px 5px rgba(3, 91, 143, 0.5);
        transform: perspective(700px) translateZ(30px);
    }

    .imageContainer {
        width: 300px;
        overflow: hidden;
        align-self: center;
        
        .image {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;

        }
    }
    .blockDescription {
        width: 50%;
        .name {

        }
        .description {
            font-weight: normal;
            color:#85868b;
        }
    }

    .countWrapper {
        display: flex;
        align-items: center;

        .btn {
            cursor: pointer;
        }
    }

    .price {
        white-space: nowrap;
    }
}