@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(7, 7, 7, 0);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(8, 74, 131, 0.6);
    border-radius: 25px;
  }
}